<div class="d-flex justify-content-end"><i class="fa fa-times" (click)="closeDialog()" aria-hidden="true"
        style="font-size: 18px;cursor: pointer;"></i></div>
<div class="section-title">
    <h3>Sign <span> In</span></h3>
</div>
<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="exampleInputPassword1">User ID</label>
        <input type="text" class="form-control" formControlName="user_id" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input class="form-control" type="password" class="form-control" formControlName="password"
            placeholder="Password" required>
    </div>

    <!-- <div class="form-group">
        <label for="exampleInputPassword1">User name</label>
        <input class="form-control" type="text" class="form-control" formControlName="user_name" placeholder="user name"
            required>
    </div> -->

    <div class="d-flex flex-row justify-content-center bd-highlight mb-3">
        <div class="p-2 bd-highlight"> <button type="submit" class="btn btn-outline-primary text-uppercase">Sign
                In</button>
        </div>
    </div>
</form>